.todo-create {
    /* padding: 20px 15px; */
    /* background: gainsboro; */
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
    margin-top: 30px;
    gap: 15px;
    border-radius: 7px;
}

.todo-input {
    width: 100%;
    padding: 10px 0 10px;
    border: none;
    outline: none;
    border-bottom: 1px solid;
}

.todo-btn {
    /* width: fit-content; */
    border: none;
    background: #006b98f7;
    color: white;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}