.todo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 20px 15px;
    border-radius: 5px;
    background: #4b5259;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.todoIcon {
    font-size: 20px;
    cursor: pointer;
}

.todoIcon:first-child {
    color: red;
}

.todoIcon:last-child {
    color: #ffcf00;
}